body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  display: flex;
  margin: 20px;
  width: 30px;
  justify-content: center;
  
  flex-direction: column;
}

.addtodo{
  width: 50%;
  display: flex;
  justify-content: space-evenly;

}
.addtodo input{
  border: none;
  box-shadow: 1px 1px;
}

.todo{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  font-size: 0.8rem;
  background-color: brown;
  margin: 12px;
}